# Simulation outputs
sim/build/
sim/hex/
sim/logs/
sim/waves/

# Verilator / waveform byproducts
obj_dir/
*.fst
*.vcd
*.vpd

# Python cache
__pycache__/
*.pyc

# Editor / OS temp files
.DS_Store
Thumbs.db
*.swp
*.swo

# 忽略顶层综合/实现（可再生）
fpga/digital_twin/digital_twin.runs/synth_1/
fpga/digital_twin/digital_twin.runs/impl_1/
fpga/digital_twin/digital_twin.runs/.jobs/

# 保留 IP 的 OOC run（防黑盒）
# fpga/digital_twin/digital_twin.runs/IROM_synth_1/  <- 不忽略
# fpga/digital_twin/digital_twin.runs/DRAM_synth_1/  <- 不忽略

# 其他可再生
fpga/digital_twin/digital_twin.cache/
fpga/digital_twin/digital_twin.hw/
fpga/digital_twin/digital_twin.ip_user_files/
fpga/digital_twin/digital_twin.sim/
fpga/digital_twin/.Xil/
fpga/**/.hdi.isWriteableTest*.tmp